scikit-learn
xgboost
# We will also need a database connector to get data from QuestDB
psycopg2-binary
# And polars for data manipulation
polars
# For hyperparameter tuning
ray[tune]
hyperopt
# For experiment tracking and model registry
mlflow
python-logstash-async

# For gRPC
grpcio
grpcio-tools
